{% extends 'base.html' %}

{% block title %}<title>Question</title>{% endblock %}
{% block body %}
   <!-- Fixed navbar -->
   <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><span class="glyphicon glyphicon-home"></span> Project name</a>
        
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        <li class="active"><a href="../../main_page/">Questions</a></li>
        <li><a href="../../question/add/">Ask question</a></li>
        </ul>
    <form class="navbar-form navbar-right" role="form">
        <div class="form-group">
            <span class="glyphicon glyphicon-search"></span>
            <input type="text" placeholder="Search" class="form-control">
        </div>
        <button type="submit" class="btn btn-success">Search</button>

    </form>
    <ul class="nav navbar-nav navbar-right">
        <li><a href="../../user_page/"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
        <li><a href="../../main_page/"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>

</div><!--/.nav-collapse -->
</div>
</div>

<div class="container">
    <div class="jumbotron">
        <h2>Question</h2>
        <br>
        <br>
        <form class="form-horizontal" role="form">
            <div class="panel panel-default">
                <div class="panel-body">
                <div class="col-xs-3 col-md-3">
                <img src="../../static/images.jpg" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-xs-9 col-md-9">
                    <a href="#"><h2>{{ question.title }}</h2></a>
                    <h3>{{ question.text|linebreaks }}</h3>
                    <h4 class="col-xs-2 col-md-2" style="padding-left: 0px;"    >Tags:</h4>
                    {% for tag in question.tags.all %}
                    <h4 class="col-xs-2 col-md-2">{{ tag.title }}</h4>
                    {% endfor %}
                </div>
                </div>
            </div>
            {% for answer in question.answers.all %}
            <div class="panel panel-default">
                <div class="panel-body">
                <div class="col-xs-2 col-md-2">
                <img src="../../static/images.jpg" class="img-responsive" alt="Responsive image">
                </div>
                <div class="col-xs-8 col-md-8">
                    <h4>{{ answer.text|linebreaks }}</h4>
                    <div class="col-xs-3 col-md-3">
                    <label class="checkbox" >
                    <input type="checkbox" value="correct"> Correct
                    </label>
                    </div>
                    <div class="col-xs-3 col-md-3">
                    <button type="button" class="btn btn-success">like</button>
                    </div>
                </div>
                </div>
            </div>
            {% endfor %}
            
            <div class="panel panel-default" method="post" action=".">
            {% csrf_token %}
                <div class="panel-body" for="text">
                <textarea type="text" rows="5" class="form-control noResize" id="text" placeholder="Enter your answer here" required></textarea>
                <br>
                <button type="submit" id="answer" class="btn btn-default">answer</button>
                </div>
            </div>
            
            
            </form>
    </div>
</div> <!-- /container -->
{% endblock %}